<div id="country">
	<div role="tabpanel">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Overall</a></li>
			<li role="presentation"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Forest Type</a></li>
			<li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">People &amp; Economy</a></li>
			<li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Tenure &amp; Lauws </a></li>
			<li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Climate Change </a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="home">...</div>
			<div role="tabpanel" class="tab-pane" id="tab1">...</div>
			<div role="tabpanel" class="tab-pane" id="tab2">...</div>
			<div role="tabpanel" class="tab-pane" id="tab3">...</div>
		</div>

	</div>

</div>
