<div id="banner"></div>

<div id="main" class="container-fluid">
  <h1>Objetivos</h1>
  <ul>
  <li>Desarrollar una aplicación para ayudar a controlar la deforestación y la degradación de los bosques.</li>
  <li>Convocar datos locales de forma crowdsource.</li>
  </ul>

</div>
