<div id="banner"></div>

<div id="main" class="container-fluid">
  <h1>Objectives</h1>
  <ul>
  <li>Develop an application to help monitor deforestation and forest degradation, and the reasons behind it.</li>
  <li>Obtain local data through crowdsourcing.</li>
  </ul>

  <iframe src="https://player.vimeo.com/video/125310978?portrait=0" width="960" height="540" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/125310978">Scanforest App</a> from <a href="https://vimeo.com/user18294915">Andr&eacute; Holanda Rocha</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>
