<div id="banner"></div>

<div id="main" class="container-fluid">
  <h1>Objectives</h1>
  <ul>
  <li>Develop an application to help monitor deforestation and forest degradation, and the reasons behind it.</li>
  <li>Obtain local data through crowdsourcing.</li>
  </ul>
</div>
