<div id="banner"></div>

<div id="main" class="container-fluid">
  <h1>Team Members</h1>
  <h3>Daniel Drake</h3>
  <p>Web front-end &amp; back-end development</p>
  <h3>Darlon Espinoza</h3>
  <h3>Dennis Gallo</h3>
  <p>UI design</p>
  <h3>Hansel Miranda</h3>
  <p>Web front-end &amp; back-end development</p>
  <h3>Gerardo Ortega</h3>
  <p>Web front-end &amp; back-end development</p>
  <h3>Gustavo Rayo</h3>
  <h3>Ronnie Rios</h3>
  <p>Mobile app</p>
  <h3>André Rocha</h3>
  <p>UI design &amp; video</p>
</div>
