<style>
    .tab-content {
        color: #ffffff;
    }
    h1.ptitle {
        color: #76c949;
        font-size: 130%;
    }
    #col1 {
        width:400px;
        float:left;
        padding:5px 15px 5px 100px;
    }
    #col2 {
        width:350px;
        float:left;
        padding:10px;
    }
    #col3 {
        width:350px;
        float:left;
        padding:10px;
    }
</style>
<div id="country">
<div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">All</a></li>
        <% if user_signed_in? %>
        <li role="presentation"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Own</a></li>
        <% end %>
      </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
     <%= @all_alerts.present? ? render(partial: "alerts", locals: { alerts: @all_alerts, own: false }) : "There's no alert to be displayed" %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab1">
     <%= @my_alerts.present? ? render(partial: "alerts", locals: { alerts: @my_alerts, own: true}) : "You haven't created any alert yet" %>
    </div>
  </div>
</div>
</div>
