<style>
    .tab-content {
        color: #ffffff;
    }
    h1.ptitle {
        color: #76c949;
        font-size: 130%;
    }
    #col1 {
        width:400px;
        float:left;
        padding:5px 15px 5px 100px;
    }
    #col2 {
        width:350px;
        float:left;
        padding:10px;
    }
    #col3 {
        width:350px;
        float:left;
        padding:10px;
    }
</style>
<div id="country">
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">All alerts</a></li>
    <li role="presentation"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">My alerts</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    </div>
    <div role="tabpanel" class="tab-pane" id="tab1">...</div>
  </div>
</div>
</div>
