/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require andy
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
body * {
  font-family: 'Roboto', sans-serif;
}
/* MIXINS */
/* FIM MIXINS*/
a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.navbar-default {
  background-color: #FFF;
  border-color: #e7e7e7;
  margin-bottom: 0;
}
.navbar-brand {
  float: left;
  height: auto;
  padding: 12px 15px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #6d9654;
  background-color: #FFFFFF;
  border-bottom: 3px inset transparent;
}
.navbar-default .navbar-nav > li > a,
.navbar-nav > li > a {
  padding: 29px 30px;
  color: #ababab;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #6d9654;
  border-bottom: 3px inset #6d9654;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #6d9654;
  background-color: #F0F0F0;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #6d9654;
}
.navbar span.user_icon {
  padding: 0 26px 0 0;
}
.navbar .fa-user {
  font-size: 25px;
  vertical-align: middle;
  /* margin: 0 10px 0 0; */
  padding: 0;
  position: absolute;
}
ul.dropdown-menu {
  min-width: 100%;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 22px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #6d9654;
}
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}
#banner {
  max-height: 291px;
  background: image_url('banner001.jpg');
  background-size: cover;
  height: 232px;
}
#main {
  max-width: 960px;
}
h1 {
  font-weight: 100;
  color: #6d9654;
}
#footer {
  margin: 30px 0 0 0;
  background: #1a2a10;
  color: #fff;
  padding: 30px 0;
}
#footer #wrap {
  max-width: 960px;
}
#footer .title {
  font-weight: 100;
  font-size: 16px;
}
#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}
#footer ul li a {
  color: #6d9654;
  display: block;
  font-weight: 300;
}
#footer ul li a:hover {
  color: #fff;
  text-decoration: none;
}
#footer #divlogo_footer {
  border-right: 1px solid #3A543F;
  text-align: center;
}
/* Small devices */
@media (max-width: 768px) {
  .navbar-default .navbar-nav > li > a,
  .navbar-nav > li > a,
  .navbar-default .navbar-nav > .active > a {
    border-bottom: 1px solid #e7e7e7;
    padding: 10px;
  }
  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
    color: #6d9654;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 10px 10px 30px;
  }
  #footer ul {
    margin: 0 0 30px;
  }
  #footer .title {
    margin: 28px 0 0 0;
  }
  #footer #divlogo_footer {
    border-right: none;
  }
  #footer #logo-footer {
    border-bottom: 1px solid #233C11;
  }
}
