/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require andy
 *= require_tree .
 *= require_self
 */


//@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import  "css3-mixins";


$color1:#65a740;
$color2:#5a8542;
$color3:#6d9654;
$light-gray:#ababab;
$dark-green: #1a2a10;

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
body * {
  font-family: 'Roboto', sans-serif;
}
a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.navbar-default {
  background-color: #FFF;
  border-color: #e7e7e7;
  margin-bottom: 0;
}
.navbar-brand {
  float: left;
  height: auto;
  padding: 12px 15px;
  font-size: 18px;
  line-height: 20px;
}
.pesttype {
     width:50px;
     height:50px;
    background-image: url('../images/icon-bee.png');
    background-repeat:no-repeat;background-size:50px 50px;
}

.loggingtype {
     width:50px;
     height:50px;
    background-image: url('../images/icon-tree.png');
    background-repeat:no-repeat;background-size:50px 50px;
}

.firetype {
     width:50px;
     height:50px;
    background-image: url('../images/icon-fuego.png');
    background-repeat:no-repeat;background-size:50px 50px;
}

.photo-thumb { width:50; height:50px; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #6d9654;
  background-color: #FFFFFF;
  border-bottom: 3px inset transparent;
}
.navbar-default .navbar-nav > li > a,
.navbar-nav > li > a {
  padding: 29px 30px;
  color: #ababab;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #6d9654;
  border-bottom: 3px inset #6d9654;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #6d9654;
  background-color: #F0F0F0;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #6d9654;
}
.navbar span.user_icon {
  padding: 0 26px 0 0;
}
.navbar .fa-user {
  font-size: 25px;
  vertical-align: middle;          
  padding: 0;
  position: absolute;
}
ul.dropdown-menu {
  min-width: 100%;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 22px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #6d9654;
}
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}
#banner {
  max-height: 291px;
  background: image_url('banner001.jpg');
  background-size: cover;
  height: 232px;
}
.tab-content {
  background: url('../images/country-bg.jpg');
  background-size: cover;
  height: 500px;
}

#main {
  max-width: 960px; min-height: 380px;
}
h1 {
  font-weight: 100;
  color: #6d9654;
}

#map {
  position: relative;
  padding-bottom: 50%;
  margin-bottom: -30px;
  height: 0;
  overflow: hidden;
  min-height: 367px;
}
#map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
#view {
  position: relative;
}
.controllers {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 0px 23% 77px;
  bottom: -43px;
}
.controllers .add_report_div a {
  padding: 18px 0 17px 20px;
}
.controllers .add_report_div a:hover,
.controllers .add_report_div a:active,
.controllers .add_report_div a:focus {
  text-decoration: none;
  background: #fff;
  padding: 18px 0 17px 20px;
  border-radius: 100px;
}
.controllers .add_report_div a:hover .text,
.controllers .add_report_div a:active .text,
.controllers .add_report_div a:focus .text {
  display: inline-block;
  color: #6d9654;
}
.controllers .add_report_div .button {
  font-weight: 100;
  color: #fff;
  background-color: #6d9654;
  padding: 16px 20px;
  font-size: 16px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.controllers .add_report_div .text {
  color: transparent;
  padding: 0 10px 0 0;
}
.controllers #MySemiModal {
  margin: 0 auto 27px;
  padding: 20px;
  background: #fff;

  max-width: 420px;
  display: none;
  border-radius: 12px;
}
.controllers #MySemiModal .title {
  padding: 0 0 11px;
  font-size: 26px;
  color: #6d9654;
}
.controllers #MySemiModal a.ball {
  display: inline-block;
  text-decoration: none;
  background-color: #6d9654;
  width: 100px;
  height: 102px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-weight: 100;
}
.controllers #MySemiModal a.ball i {
  width: 60px;
  height: 60px;
  display: block;
  margin: 4px auto 0;
  background-size: contain;
  background-position: center center;
}
.controllers #MySemiModal a.ball .text {
  color: #fff;
}
.controllers #MySemiModal a.ball:hover {
  background-color: #1a2a10;
}
.controllers #MySemiModal .fire i {
  background-image: url('../images/icon-fuego.png');
}
.controllers #MySemiModal .tree i {
  background-image: url('../images/icon-tree.png');
}
.controllers #MySemiModal .bee i {
  background-image: url('../images/icon-bee.png');
}


// Country Profile

#country .nav-tabs {
  border-bottom: 1px solid #ddd;
  border-bottom: none;
  background: #bdcfb4;
}
#country .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 0;
  color: #26452D;
  padding: 20px 38px;
  display: inline-block;
}
#country .nav > li > a:focus,
#country .nav > li > a:hover {
  text-decoration: none;
  background-color: #6d9654;
  color: #fff;
}
#country .nav-tabs > li {
  float: left;
  margin-bottom: 0px;
}
#country .nav-tabs > li.active > a,
#country .nav-tabs > li.active > a:focus,
#country .nav-tabs > li.active > a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #1a2a10;
}
#country .tab-pane {
  background-color: #1a2a10;
}

#footer {
  margin: 30px 0 0 0;
  background: #1a2a10;
  color: #fff;
  padding: 30px 0;
  width: 100%;
  bottom: 0;
}
#footer #wrap {
  max-width: 960px;
}
#footer .title {
  font-weight: 100;
  font-size: 16px;
}
#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}
#footer ul li a {
  color: #6d9654;
  display: block;
  font-weight: 300;
}
#footer ul li a:hover {
  color: #fff;
  text-decoration: none;
}
#footer #divlogo_footer {
  border-right: 1px solid #3A543F;
  text-align: center;
}


// login  box
.login-box {  background: #FFF;
  padding: 30px;
  margin: 20px auto;
  width: 460px;
  @include border-radius (4px);
  @include  box-shadow (0,0,8px, rgba(0,0,0,.4));

  form {  margin: 0px 0 20px;}

  h2 { color:$color3; margin-top: 0; }
  .field {  margin: 15px 0 0;}
  input[type='text'], input[type="email"],input[type='password'] {
    width: 100%;
    @include border-radius(4px);
    
    border: 1px solid #ccc;
    padding: 5px; outline: none;
    &:focus{ @include  box-shadow (0,0,8px, $color3); border-color: $color1; color:$color3;}
  } 
  a {color:$color3; 
    &:focus, &:hover, &:active{ }
  }

  input[type='submit'] {

    background: $color3;
    color: #fff;
    border: none;
    padding: 13px 45px;
    width: 100%;
    @include border-radius(4px);
    @include transition (all 0.4s ease);

    &:hover, &:focus{ background-color: $color1;}
  }

  .actions{  margin: 10px 0;}
  #error_explanation {
    h2 {  font-size: 14px;}
    li {color: #c00;}
  }

  .choice {
    input[type="radio"]{display: none}
    i{
      display: block;
      margin: 0 auto;
      text-align: center;
       /* width: 100%; */
       font-size: 40px;
     }
     label { 
      color: $color3;padding: 10px;   padding: 10px;
      width: 130px;
      text-align: center;
      @include border-radius(4px);
      height: 90px;
      border: 1px solid;
      vertical-align: top;
      @include transition (all 0.4s ease);
      &:hover { background:#E7F0EC;}
    }
    label.active {  background: $color3; color: #fff;}
  }

}// login-box



/* Small devices */
@media (max-width: 768px) {
  .navbar-default .navbar-nav > li > a,
  .navbar-nav > li > a,
  .navbar-default .navbar-nav > .active > a {
    border-bottom: 1px solid #e7e7e7;
    padding: 10px;
  }
  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
    color: #6d9654;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 10px 10px 30px;
  }
  .controllers { bottom: 0;}
  .login-box { width:100%;}

  #footer ul {
    margin: 0 0 30px;
  }
  #footer .title {
    margin: 28px 0 0 0;
  }
  #footer #divlogo_footer {
    border-right: none;
  }
  #footer #logo-footer {
    border-bottom: 1px solid #233C11;
  }
}
