<script><%= render 'map.js' %></script>

<div id="view">
    <div id="map"></div>

    <div class="controllers">
	<!-- MySemiModal -->
	<div id="MySemiModal">
	    <div class="title">Report Type</div>
	    <div class="report_options">
            <a href="#" class="ball fire" id="add_fire_button"><i></i><span class="text">Fire</span></a>
            <a href="#" class="ball tree" id="add_deforestation_button"><i></i><span class="text">Logging</span></a>
            <a href="#" class="ball bee" id="add_plague_button"><i></i><span class="text">Pest</span></a>
        </div>
      <p><a href="#" onClick="$('#MySemiModal').toggle(300);">Cancel</a></p>
	</div>
	<div class="add_report_div">
	    <a href="#" title="add report" id="add_report">
		<span class="text"> Add Report</span>
		<span class="button">+</span>
	    </a>
	</div>

	<script>
	 jQuery(document).ready(function($) {
	     $('#add_report').click(function(event) {
		 $('#MySemiModal').toggle(300);
	     });

         $('#add_fire_button').click(function(event) {
             $('#MySemiModal .title').html('Report a fire');
             $('.report_options').html("<%= escape_javascript(render 'alert_form', type: 'fire') %>")
//             $('#modalSendAlert').toggle(300);
         });

         $('#add_deforestation_button').click(function(event) {
             $('#MySemiModal .title').html('Report logging');
             $('.report_options').html("<%= escape_javascript(render 'alert_form', type: 'logging') %>")
         });

         $('#add_plague_button').click(function(event) {
             $('#MySemiModal .title').html('Report infestation');
             $('.report_options').html("<%= escape_javascript(render 'alert_form', type: 'pest') %>")
         });

     });
	</script>



    </div>
</div>
